/* ==== BASE ELEMENTS ==== */
* {
    box-sizing: border-box;
}
body {
    color: rgb(26, 104, 192);
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
}

form {
    padding-bottom: 7em;
}

fieldset,
input,
select,
textarea {
    border: none;
}
input,
select,
textarea {
    background-color: rgb(243, 242, 242);
    border-radius: 7px;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
    margin: 0 1em 1em 0;
    width: unset;
}
input:not(.news)::placeholder {
    color: rgb(158, 158, 158);
    font-style: italic;
    padding-right: 0.5em;
    text-align: right;
}
#disabled {
    color: rgb(158, 158, 158);
}

fieldset {
    border-top: 0.2em solid rgb(26, 104, 192);
}

header {
    background-color: rgb(26, 104, 192);
    color: white;
    padding: 1em;
    width: 100%;
}
header h2 {
    text-transform: uppercase;
}
#top,
header {
    text-align: center;
}
#top {
    border-bottom: 0.3em solid rgb(26, 104, 192); 
    margin-bottom: 0.25em;
    padding: 0.5em 2em 2em 2em;
}

#topicsl {
    margin-top: -0.25em;
    text-transform: none;
}
textarea,
#areatext {
    margin-top: 1em;
}

label {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-transform: capitalize;
}

legend {
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 1.25em;
    padding-top: 1em;
}

#zip {
    width: 30%;
}

#submit {
    background-color: rgb(121, 121, 121);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    height: 3em;
    margin-top: 1em;
    transition: background-color 0.5s ease;
    width: 100%; 
}
#submit:focus {
    background-color: rgb(26, 104, 192);
}

.copyright {
    padding-top: 1em;
    text-align: center;
}

/* ====== FLEX ========== */

.flex-divs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
}

/* ====== MEDIA QUERIES ====== */

@media (min-width: 768px) {
    
    .container {
        max-width: 50em;
    } 
    .flex-divs {
        flex-direction: row;
        justify-content: space-between;
    }

    input,
    select {
        width: 75%;
    }

    #zip {
        margin-right: 21.75em;
    }
}